# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9893c66d4ce65f6918f3c95244bac7fd11797aead7a5d34c1d18bd18cb610ea41fdffe921e165d0d35f5ab11a1d268568f8c3e7d8345e2608a79e5542b397b19

test:
  secret_key_base: 4334fd9fcc9f68c6618ce44dc00171c5cb2b3fb6cae703cbd19d8204b9d0c580b6418f7d67c70f47c16493dff82ecc7344747b2cf44ede17b401579515deb353

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
